* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f9f9f9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2 {
    line-height: 1;
}

h2 {
    font-size: clamp(1.8rem, 8vw, 5rem);
}

main {
    width: 100%;

    nav {
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        z-index: 100;

        display: flex;
        justify-content: space-between;
        align-items: center;

        color: white;
        padding: 1rem;
        mix-blend-mode: difference;


        .logo {
            font-size: 1.8rem;
            font-weight: 700;
        }

        .links {
            display: none;
            border-radius: .2rem;

            a {
                font-size: 1.1rem;
                text-decoration: none;
                color: inherit;
                font-weight: 600;
            }
        }

        .menu {
            background-color: #f2f2f23a;

            display: grid;
            place-items: center;
            padding: .2rem;
            border-radius: .1rem;

            i {
                font-size: 1.2rem;
            }
        }
    }

    .hero {
        width: 100%;
        height: 100vh;
        max-height: 800px;
        background: linear-gradient(#0c0c0c46, #0c0c0c56), url(./assets/hero.jpg);
        background-size: cover;
        background-position: right;

        display: flex;
        flex-direction: column;

        .spacer {
            width: 100%;
            height: 60px;
        }

        .text {
            flex-grow: 1;
            color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            text-align: center;

            padding: 1rem;

            .subheading {
                font-weight: 700;
                color: #e0e0e0;
                line-height: 1;
            }

            h1 {
                font-size: clamp(2.5rem, 10vw, 7rem);
                // font-size: 2.5rem;
            }

            .btnGrp {
                margin-top: .5rem;
                display: flex;

                button {
                    font-size: 1.2rem;
                    font-family: inherit;
                    border: none;
                    outline: none;
                    padding: .5rem;
                    border-radius: .5rem;
                    font-weight: 700;
                }
            }

            .socials {
                color: white;
                margin-top: 1rem;

                display: flex;
                gap: 1rem;

                .icon {
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    background: #0c0c0c48;
                    backdrop-filter: blur(5px);
                    padding: .5rem;

                    display: grid;
                    place-items: center;

                    box-shadow: 0px 0px 2px;

                    i {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .about {
        width: 100%;
        padding: 3rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .aboutHeading {
            text-align: center;

            .subheading {
                font-weight: 700;
                color: #ada4a4;
                line-height: 1;
            }

            h2 {
                font-size: clamp(1.8rem, 8vw, 5rem);
            }
        }

        .cards {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .imgCard {
                width: 100%;
                aspect-ratio: 1/1;
                background: linear-gradient(#0c0c0c46, #0c0c0c56), url(./assets/aboutSection.jpg);
                background-size: cover;
                padding: 1rem;
                border-radius: .5rem;
                color: white;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .imgHeading {
                    font-size: clamp(1.5rem, 4vw, 2rem);
                    font-weight: 700;
                }

                .bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    .info {
                        font-weight: 500;

                        span {
                            font-size: 1.5rem;
                            font-weight: 700;
                        }
                    }

                    .icon {
                        font-size: clamp(4rem, 10vw, 6rem);
                        line-height: 1;
                    }
                }
            }

            .textCard {
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1rem;

                background-color: #e5e5e5;
                padding: 1rem;

                border-radius: .5rem;

                .top {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                }

                .icon {
                    background-color: #f2f2f2;
                    width: fit-content;
                    border-radius: 50%;

                    display: grid;
                    place-items: center;

                    padding: .5rem;

                    i {
                        font-size: 2rem;
                        line-height: 1;
                    }
                }

                .heading {
                    font-size: clamp(1.8rem, 5vw, 2.5rem);
                    font-weight: 700;
                    line-height: 1;
                }
            }
        }
    }

    .impact {
        width: 100%;
        height: 100vh;
        max-height: 800px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 1rem;

        padding: 3rem 1rem;


        background: linear-gradient(#0c0c0c46, #0c0c0c56), url(./assets/impact.jpg);
        background-position: right;
        background-size: cover;

        color: white;

        .impactHeading,
        .info,
        .checks {
            text-align: center
        }
    }
}

@media (min-width: 600px) {
    main {
        nav {

            .links {
                background-color: #f2f2f23d;
                backdrop-filter: blur(50px);
                padding: .5rem;
                display: flex;
                gap: 1rem;

                a {
                    display: block;
                    position: relative;
                }
            }


            .menu {
                display: none;
            }
        }
    }
}

@media (min-width: 700px) {
    main {
        .hero {
            .text {
                align-items: baseline;
                text-align: left;

                h1 {
                    transform: translateX(-.5rem);
                }
            }
        }

        .about {
            width: 100%;
            padding: 3rem 1rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;


            .cards {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 1rem;

                .imgCard {
                    aspect-ratio: 1/.7;
                }

                .imgCard,
                .textCard:nth-child(2) {
                    flex: 1 1 0;
                }

                .textCard:nth-child(3) {
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 1000px) {
    main {

        .about {
            padding-block: 4rem;

            .cards {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 1rem;

                .imgCard,
                .textCard {
                    flex: 1 1 0;
                }

            }
        }
    }
}