* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f9f9f9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2 {
  line-height: 1;
}

h2 {
  font-size: clamp(1.8rem, 8vw, 5rem);
}

main, nav {
  max-width: 1600px;
  margin-inline: auto;
}

main {
  width: 100%;
}
main nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem;
  mix-blend-mode: difference;
}
main nav .logo {
  font-size: 1.8rem;
  font-weight: 700;
}
main nav .links {
  display: none;
  border-radius: 0.2rem;
}
main nav .links a {
  font-size: 1.1rem;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
main nav .menu {
  background-color: rgba(242, 242, 242, 0.2274509804);
  display: grid;
  place-items: center;
  padding: 0.2rem;
  border-radius: 0.1rem;
}
main nav .menu i {
  font-size: 1.2rem;
}
main .hero {
  width: 100%;
  height: 100vh;
  max-height: 800px;
  background: linear-gradient(rgba(12, 12, 12, 0.2745098039), rgba(12, 12, 12, 0.337254902)), url(./assets/hero.jpg);
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: column;
}
main .hero .spacer {
  width: 100%;
  height: 60px;
}
main .hero .text {
  flex-grow: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}
main .hero .text .subheading {
  font-weight: 700;
  color: #e0e0e0;
  line-height: 1;
}
main .hero .text h1 {
  font-size: clamp(2.5rem, 10vw, 7rem);
}
main .hero .text .btnGrp {
  margin-top: 0.5rem;
  display: flex;
}
main .hero .text .btnGrp button {
  font-size: 1.2rem;
  font-family: inherit;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
}
main .hero .text .socials {
  color: white;
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
main .hero .text .socials .icon {
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: rgba(12, 12, 12, 0.2823529412);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0.5rem;
  display: grid;
  place-items: center;
  box-shadow: 0px 0px 2px;
}
main .hero .text .socials .icon i {
  font-size: 1.5rem;
}
main .about {
  width: 100%;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .about .aboutHeading {
  text-align: center;
}
main .about .aboutHeading .subheading {
  font-weight: 700;
  color: #ada4a4;
  line-height: 1;
}
main .about .aboutHeading h2 {
  font-size: clamp(1.8rem, 8vw, 5rem);
}
main .about .cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .about .cards .imgCard {
  width: 100%;
  aspect-ratio: 1/1;
  background: linear-gradient(rgba(12, 12, 12, 0.2745098039), rgba(12, 12, 12, 0.337254902)), url(./assets/aboutSection.jpg);
  background-size: cover;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .about .cards .imgCard .imgHeading {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 700;
}
main .about .cards .imgCard .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
main .about .cards .imgCard .bottom .info {
  font-weight: 500;
}
main .about .cards .imgCard .bottom .info span {
  font-size: 1.5rem;
  font-weight: 700;
}
main .about .cards .imgCard .bottom .icon {
  font-size: clamp(4rem, 10vw, 6rem);
  line-height: 1;
}
main .about .cards .textCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  background-color: #e5e5e5;
  padding: 1rem;
  border-radius: 0.5rem;
}
main .about .cards .textCard .top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main .about .cards .textCard .icon {
  background-color: #f2f2f2;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 0.5rem;
}
main .about .cards .textCard .icon i {
  font-size: 2rem;
  line-height: 1;
}
main .about .cards .textCard .heading {
  font-size: clamp(1.8rem, 5vw, 2.5rem);
  font-weight: 700;
  line-height: 1;
}
main .impact {
  width: 100%;
  height: 100vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  background: linear-gradient(rgba(12, 12, 12, 0.4196078431), rgba(12, 12, 12, 0.337254902)), url(./assets/impact.jpg);
  background-position: right;
  background-size: cover;
  color: white;
}
main .impact .impactHeading,
main .impact .info {
  text-align: center;
}
main .impact .subheading {
  font-size: clamp(0.8rem, 3vw, 1rem);
  font-weight: 700;
  color: #e1e1e1;
}
main .impact .info {
  margin-top: 0.5rem;
  width: 90%;
  max-width: 800px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-wrap: pretty;
  line-height: 1;
  font-size: clamp(0.9rem, 3vw, 1.2rem);
}
main .impact .check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.2rem, 3vw, 0.5rem);
  text-align: center;
}
main .impact .check .icon {
  flex-shrink: 0;
  width: clamp(1rem, 3vw, 1.8rem);
  aspect-ratio: 1/1;
  background-color: rgba(34, 34, 34, 0.541);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: rgb(51, 179, 51);
  box-shadow: 0 0 2px white;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
main .impact .check .icon i {
  font-size: clamp(0.8rem, 3vw, 1.2rem);
}
main .impact .check .para {
  font-size: clamp(0.8rem, 3vw, 1rem);
}
main .impact .check + .check {
  margin-top: 0.8rem;
}
main .impact .btnGrp {
  margin-top: 0.5rem;
  display: flex;
}
main .impact .btnGrp button {
  font-size: 1.2rem;
  font-family: inherit;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
}
main .project {
  width: 100%;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .project .projectHeading {
  text-align: center;
}
main .project .projectHeading .subheading {
  font-weight: 700;
  color: #ada4a4;
  line-height: 1;
}
main .project .projectHeading h2 {
  font-size: clamp(1.8rem, 8vw, 5rem);
}
main .project .cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .project .cards .card {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
}
main .project .cards .card .title {
  font-weight: 700;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  line-height: 1;
}
main .project .cards .card:nth-child(1) {
  background: linear-gradient(rgba(12, 12, 12, 0.2745098039), rgba(12, 12, 12, 0.4823529412)), url(./assets/solarInstallation.jpg);
  background-size: cover;
}
main .project .cards .card:nth-child(2) {
  background: linear-gradient(rgba(12, 12, 12, 0.2745098039), rgba(12, 12, 12, 0.337254902)), url(./assets/monitorSolar.jpg);
  background-size: cover;
}
main .project .cards .card:nth-child(3) {
  background: linear-gradient(rgba(12, 12, 12, 0.2745098039), rgba(12, 12, 12, 0.337254902)), url(./assets/community.jpg);
  background-size: cover;
}
main .testimonials {
  width: 100%;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .testimonials .testimonialHeading {
  text-align: center;
}
main .testimonials .testimonialHeading .subheading {
  font-weight: 700;
  color: #ada4a4;
  line-height: 1;
}
main .testimonials .testimonialHeading h2 {
  font-size: clamp(1.8rem, 8vw, 5rem);
}
main .testimonials .box {
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column-reverse;
}
main .testimonials .box .testimonialGrp {
  display: flex;
  transition: all 1s ease;
  border-radius: 1rem;
}
main .testimonials .box .testimonialGrp .testimonial {
  background-color: #E5E5E5;
  border-radius: 1rem;
  width: 100%;
  flex-shrink: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main .testimonials .box .testimonialGrp .testimonial .icon {
  background-color: #f2f2f2;
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1/1;
  font-size: 1.5rem;
  border-radius: 0.2rem;
  display: grid;
  place-items: center;
}
main .testimonials .box .testimonialGrp .testimonial .text {
  font-weight: 600;
  font-size: clamp(1rem, 3vw, 2.5rem);
}
main .testimonials .box .testimonialGrp .testimonial hr {
  border: 1px dashed;
  margin-block: 0.5rem;
}
main .testimonials .box .testimonialGrp .testimonial .cutomerInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .testimonials .box .testimonialGrp .testimonial .cutomerInfo .img {
  width: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
main .testimonials .box .testimonialGrp .testimonial .cutomerInfo .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .testimonials .box .testimonialGrp .testimonial .cutomerName {
  font-weight: 700;
}
main .testimonials .box .testimonialGrp .testimonial .profession {
  font-size: 0.8rem;
}
main .testimonials .box .imgGrp {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  position: relative;
  display: flex;
  background-color: #E5E5E5;
}
main .testimonials .box .imgGrp .img {
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  flex-shrink: 0;
  opacity: 0;
  z-index: 0;
  transform: all ease 0.5s;
  transition: all 1s ease;
}
main .testimonials .box .imgGrp .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .testimonials .box .imgGrp .active {
  opacity: 1;
  z-index: 1;
}

footer {
  padding: 3rem 1rem;
  font-size: 1.2rem;
  background: linear-gradient(#2a365d, #4b6292);
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  main nav .links {
    background-color: rgba(242, 242, 242, 0.2392156863);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
  }
  main nav .links a {
    display: block;
    position: relative;
  }
  main nav .menu {
    display: none;
  }
  main .project .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
  main .project .cards .card {
    width: 50%;
  }
  main .project .cards .card:nth-child(1),
  main .project .cards .card:nth-child(1) {
    flex: 1 1 0;
    aspect-ratio: 1/1;
  }
  main .project .cards .card:nth-child(3) {
    width: 100%;
    aspect-ratio: 1/0.5;
    background-position: bottom;
  }
}
@media (min-width: 700px) {
  main .hero .text {
    align-items: baseline;
    text-align: left;
  }
  main .hero .text h1 {
    transform: translateX(-0.5rem);
  }
  main .about {
    width: 100%;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  main .about .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
  main .about .cards .imgCard {
    aspect-ratio: 1/0.7;
  }
  main .about .cards .imgCard,
  main .about .cards .textCard:nth-child(2) {
    flex: 1 1 0;
  }
  main .about .cards .textCard:nth-child(3) {
    width: 100%;
  }
  main .testimonials .box {
    flex-direction: row;
    gap: 0;
  }
  main .testimonials .box .testimonialGrp {
    width: 70%;
  }
  main .testimonials .box .testimonialGrp .testimonial {
    padding: 2rem;
  }
  main .testimonials .box .imgGrp {
    width: 30%;
    aspect-ratio: auto;
  }
}
@media (min-width: 1000px) {
  main .about {
    padding-block: 4rem;
  }
  main .about .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
  main .about .cards .imgCard,
  main .about .cards .textCard {
    flex: 1 1 0;
  }
  main .project .cards .card {
    flex: 1 1 0;
  }
  main .project .cards .card .title {
    text-wrap: balance;
  }
  main .testimonials {
    padding-inline: 3rem;
  }
}/*# sourceMappingURL=style.css.map */