* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f9f9f9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 100%;
    height: 200vh;

    nav {
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        z-index: 100;

        display: flex;
        justify-content: space-between;
        align-items: center;

        color: white;
        padding: 1rem;
        mix-blend-mode: difference;


        .logo {
            font-size: 1.5rem;
            font-weight: 700;

            
        }

        .links {
            display: none;
            border-radius: .2rem;

            a {
                font-size: 1.2rem;
                text-decoration: none;
                color: inherit;
                font-weight: 600;
            }
        }

        .menu {
            background-color: #f2f2f23a;

            display: grid;
            place-items: center;
            padding: .2rem;
            border-radius: .1rem;

            i {
                font-size: 1.2rem;
            }
        }
    }

    .hero {
        width: 100%;
        height: 100vh;
        max-height: 800px;
        background: linear-gradient(#0c0c0c46, #0c0c0c56), url(./assets/hero.jpg);
        background-size: cover;
        background-position: right;

        display: flex;
        flex-direction: column;

        .spacer {
            width: 100%;
            height: 60px;
        }

        .text {
            flex-grow: 1;
            color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            text-align: center;

            padding: 1rem;

            h1 {
                line-height: 1;
                font-size: clamp(2.5rem, 10vw, 7rem);
                // font-size: 2.5rem;
            }
        }
    }
}

@media (min-width: 600px) {
    main {
        nav {

            .links {
                background-color: #f2f2f23d;
                backdrop-filter: blur(50px);
                padding: .5rem;
                display: flex;
                gap: 1rem;

                

                a {
                    display: block;
                    position: relative;
                }
            }


            .menu {
                display: none;
            }
        }
    }
}

@media (min-width: 750px) {
    main {
        .hero {
            .text {
                align-items: baseline;
                text-align: left;

                h1 {
                    transform: translateX(-.5rem);
                }
            }
        }
    }
}